/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Color+Emoji&display=swap");

:root {
    font-family: "K2D";
    line-height: 1.5;
    font-weight: 400;

    --main-color: #c28aff;
    --secondary-color: #ffffff;
    --tertiary-color: #8797fa;
    --background-color: #1d1f24;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

#root {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container-fluid{
	display: grid;
	grid-template-columns: 3fr 2fr;
	height: 100vh;
	width: 100vw;
}

.leftDiv{
	background-color: var(--secondary-color);
	padding: 10px;
}

.rightDiv{
	background-color: var(--tertiary-color);
	padding: 10px;
}

#postDisplay {
	border: solid;
	border-color: black;
	border-width: 4px;
	max-width: 100%;
	height: 100%;
	padding: 10px 20px;
}

#typingBox {
	height: 250px;
	max-width: 100%;
}

#postBoxDiv {
	padding: 10px;
}

#nameInput {
	max-width: 50%;
}


/* form {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 30px 25px;
} */

form h2 {
    margin-bottom: 10px;
    color: var(--main-color);
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
	
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: var(--main-color);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    border: none;
    border-radius: 6px;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
	margin: 10px 0 0 0;
}

button:hover {
    background-color: #aa6cd0;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    margin-top: 5px;
}

a:hover {
    color: #aa6cd0;
}

body.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    margin: 0;
}
